.main {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: $color-black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-terciary;
    border-block-start: 2px solid $color-secondary;

    &-title {
        margin: 10px 20px;
    }
    p {
        max-width: 600px;
        font-family: $Fuente2;
        @include font-size(30px);
        margin: 0 auto;
        text-align: center;
        strong{
            color: $color-secondary;
        }
        span {
            color: #eeff00;
        }
    }
    .main-explora {
        @include font-size(50px);
        color: $color-clear;
    }
}
.cards__container{
    width: 100%;
    height: auto;
    padding: 10px;
    color: $color-black;
    font-size: 20px;
    background-color: $color-clear;
    display: flex;
    flex-direction: column;
    @include caja;
    .card{
        padding: 10px;
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
        border: 2px solid $color-primary;
        border-radius: 10px;
        div p {
            padding: 10px;
            font-family: $Fuente2;
        }
        figure{
            max-width: 600px;
            margin: 0 auto;
            img {
                width: 100%;
                background-color: get-opacity($color-terciary, 0.08);
            }
        }
        .button{
            display: block;
            color: $color-secondary;
            @include font-size(40px);
            text-decoration: none;
            
        }   
    }
}
    
