doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Juan Carlos DP ::|:: @sharlybip
        link(rel="icon",type="image/png", href="../images/airplane.png")
        link(rel="stylesheet", href="../css/home.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=K2D:wght@300;500;700&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet")
    body
        header.header
            .header__logo
                img(src="../images/favicon.png", alt="foto de perfil")
                p.header__logo-name Juan Carlos Domínguez
            nav.header-nav
                ul
                    li Portafolio
                    li contacto
                    li blog
            .header-menu: img(src="../images/menuham.png", alt="menu")
                        
        main.main
            h1.main-title ¡Hola Binevenido!
            p.main-description
                | Soy Carlos <strong>@sharlybip</strong>  y este mi camino para ser un 
                | <strong>desarrollador web</strong> 
                | he empezado desde lo mas basico que es html y css 
                | nativos, entendiendo cómo fucionan para de a poco ir creciendo hacia lo 
                | que se maneja en la industria en la actualidad como los preprocesadores,
                | librerias de <span>JavaScript</span>, Frameworks etcétera.
            p.main-explora ¡Explora todos mis proyectos! 
            p 
                | Toma en cuenta que algunos son muy básicos
        footer.footer