mixin card(titulo, titulo2, parrafo, ruta, alt, page)
    .card 
        h1=titulo
        h2=titulo2
        div
            p=parrafo
            figure
                img(src=""+ruta, alt=""+alt)
        a(class="button" href=""+page, target="blank") Vista el proyecto
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Juan Carlos DP ::|:: @sharlybip
        link(rel="icon",type="image/png", href="../images/airplane.png")
        link(rel="stylesheet", href="../css/home.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=K2D:wght@300;500;700&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet")
    body
        header.header
            .header__logo
                img(src="../images/favicon.png", alt="foto de perfil")
                p.header__logo-name Juan Carlos Domínguez
            nav.header-nav
                ul
                    li Portafolio
                    li contacto
                    li blog
            .header-menu: img(src="../images/menuham.png", alt="menu")
        main
            section.main
                h1.main-title ¡Hola Binevenido!
                p.main-description
                    | Soy Carlos <strong>@sharlybip</strong>  y este mi camino para ser un 
                    | <strong>desarrollador web</strong> 
                    | he empezado desde lo mas basico que es html y css 
                    | nativos, entendiendo cómo fucionan para de a poco ir creciendo hacia lo 
                    | que se maneja en la industria en la actualidad como los preprocesadores,
                    | librerias de <span>JavaScript</span>, Frameworks etcétera.
                p.main-explora ¡Explora todos mis proyectos! 
                p 
                    | Toma en cuenta que algunos son muy básicos
            section.cards__container

                +card('Git & GitHub','Profesional','En el curso de Git y Github aprendí a utilizar primero la consola (emulador unix) con ubuntu, aprendi con un curso muy amigable con un profesor entusiasta a moverte dentro de la consola con los principales comandos, y hasa visitar paginas web desde la consola; viendo paginas de solo texto. Despues inicie git. Git se maneja totalmente en la consola aprendia a iniciar un "repo", agragar archivos al repositorio haciendo commits, crear ramas y hacer merge, y el siguiemte paso es hacer tu cuenta de github y conectarla con tu repositorio local obviamnete todo por consola, aprendí a hacer pull y push para cargar los archivos que se modificaron, para poder asi compartir tus proyectos en la red social mas grande de developers en el mundo.','../images/git-github.png','Imagen de git y github','https://github.com/sharlybip')
                +card('','','','','','https://sharlybip.github.io/https-sharlybip.github.io-/')
                +card('','','','','','')
                +card('','','','','')
                +card('','','','','')
                +card('','','','','')
        footer.footer